<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/tasks.css" />
    <script src="/scripts/responsive.js" defer></script>
  </head>
  <body>
    <%-include("../includes/header") %>
    <main>
      <p id="numOfTasks">
        you have
        <span style="color: rgb(255, 153, 0)"><%= numberOfTasks %></span> tasks
        to do!
      </p>

      <% if( tasks.length >0 ){ %>
      <form id="task-form" action="/tasks" method="POST">
        <div id="task-inputs">
          <input
            type="text"
            id="task-name"
            name="name"
            placeholder="Task Name"
            required />
          <textarea
            name="description"
            id="task-description"
            placeholder="Task Description"
            rows="4"></textarea>
          <input type="date" name="dueDate" id="task-due-date" />
          <button type="submit" id="submit-task-btn">Add Task</button>
        </div>
      </form>
      <section>
        <div id="content">
          <h2>your tasks</h2>
          <ul id="listOfTask">
            <% for(const task of tasks){ %>
            <li id="task-item">
              <article>
                <p class="task-details"><%= task.name%></p>
                <p class="task-details"><%= task.description %></p>
                <p class="task-details"><%= task.dueDate %></p>
              </article>
            </li>
            <% } %>
          </ul>
        </div>
      </section>
      <% } else{ %>
      <section id="tasks-section">
        <div id="card-st">
          <button type="button" id="add-task-btn">
            Click here to add your first task
            <span id="icom" class="material-symbols-outlined">add_circle</span>
          </button>
        </div>
      </section>
      <% } %>
    </main>
    <footer></footer>
  </body>
</html>
