<!DOCTYPE html>
<html lang="en">
  <%-include("../includes/head") %>
  <link rel="stylesheet" href="/styles/tasks.css" />
  <body>
    <%-include("../includes/header") %>
    <main>
      <form id="task-form" action="/tasks" method="POST">
        <div id="task-inputs">
          <input
            type="text"
            id="task-name"
            name="name"
            placeholder="Task Name"
            required />
          <textarea
            name="description"
            id="task-description"
            placeholder="Task Description"
            rows="4"></textarea>
          <input type="date" name="dueDate" id="task-due-date" />
          <button type="submit" id="submit-task-btn">Add Task</button>
        </div>
      </form>

      <p id="numOfTasks">
        you have
        <span style="color: rgb(255, 153, 0)"><%= numberOfTasks %></span> tasks
        to do!
      </p>
      <section>
        <div id="content">
          <h2>your tasks</h2>
          <ul id="listOfTask">
            <% for(const task of tasks){ %>
            <li id="task-item">
              <article>
                <p class="task-details"><%= task.name%></p>
                <p class="task-details"><%= task.description %></p>
                <p class="task-details"><%= task.dueDate %></p>
              </article>
            </li>
            <% } %>
          </ul>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
