<!DOCTYPE html>
<html lang="en">
  <%-include("../includes/head") %>
  <link rel="stylesheet" href="/styles/tasks.css" />
  <body>
    <%-include("../includes/header") %>
    <main>
      <form id="task-form" action="/tasks" method="POST">
        <div id="task-inputs">
          <input
            type="text"
            id="task-name"
            name="name"
            placeholder="Task Name"
            required />
          <textarea
            name="description"
            id="task-description"
            placeholder="Task Description"
            rows="4"></textarea>
          <input type="date" name="dueDate" id="task-due-date" />
          <button type="submit" id="submit-task-btn">Add Task</button>
        </div>
      </form>

      <p id="numOfTasks">
        you have
        <span style="color: rgb(255, 153, 0)"><%= numberOfTasks %></span> tasks
        to do!
      </p>
      <section>
        <div id="content">
          <h2>your tasks</h2>
          <ul id="listOfTask">
            <% for(const task of tasks){ %>
            <li id="task-item">
              <article>
                <p class="task-details"><%= task.title%></p>
                <p class="task-details"><%= task.content %></p>
                <p class="task-details">
                  <%= new Date(task.date).toLocaleDateString("en-US", { year:
                  'numeric', month: 'long', day: 'numeric' }) %>
                </p>
              </article>
              <div id="btns">
                <a href="/task/<%= task.id %>/edit">
                  <button id="edit">Edit Task</button>
                </a>
                <form
                  action="/tasks/<%= task.id %>/delete"
                  method="POST"
                  onsubmit="return confirm('Are you sure you want to delete this task?');">
                  <button type="submit" id="delete">Delete Task</button>
                </form>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
